<%= form_for @grade do |f| %>
  <div class="form-group">
    <%= f.label :grade_level %>
    <%= f.number_field :grade_level %>
  </div>

  <div class="form-group">
    <%= f.label "Next Grade" %>
    <%= collection_select(:grade, :next_grade_id, Grade.all, :id, :grade_level, {include_blank: true}, { class: "form-control col-6" }) %>
  </div>

  <div class="actions">
    <%= f.submit class:'btn btn-primary'%>
  </div>

<% end %>
