<h2>Edit <%= @user.first_name %></h2>

<%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label "User Type" %>
    <%= collection_select(:user, :usertype_id, Usertype.all, :id, :user_type) %>
  </div>

  <div class="field">
    <%= f.label "Supervisor" %>
    <%= collection_select(:user, :supervisor_id, User.where(usertype_id: 2), :id, :full_name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label "Grade" %>
    <%= collection_select(:user, :grade_id, Grade.all, :id, :grade_level, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label "Template" %>
    <%= collection_select(:user, :template_id, @templates, :id, :template_name, include_blank: true) %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
