<div class="jumbotron">
  <h1 class="text-center">Students</h1>
  <hr class="my-4">
  <%= link_to "Add New Student", new_user_path, class: "btn btn-primary" %>
  <%= link_to "Grid Edit", edit_multiple_users_path, class: "btn btn-primary" %>
  <%= link_to "Advance Grades", progress_grades_users_path, class: "btn btn-primary" %>
  <%= link_to "Bulk Delete",   bulk_delete_students_users_path, class: "btn btn-danger" %>

  <h3>Import Users</h3>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Students" %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Email</th>
      <th scope="col">Supervisor</th>
      <th scope="col">Template Type</th>
      <th scope="col" class="text-center">Missed</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <th scope="row"><%= student.id %></th>
        <td><%= link_to student.full_name, user_path(student) %></td>
        <td><%= student.grade.grade_level unless student.grade == nil %></td>
        <td><%= link_to student.email, "mailto:#{student.email}" %></td>
        <td><%= link_to student.supervisor.full_name, user_path(student.supervisor.id) unless student.supervisor == nil %></td>
        <td><%= link_to student.template.template_name, template_path(student.template.id) unless student.template == nil %> </td>
        <td class="text-center"><%= student.count_missing_dates %></td>
      </tr>
    <% end %>
  </tbody>
</table>
