<%= render 'users/student_header' %>


<% if !user_is_student? %>
  <%= render 'users/students_partial' %>
<% end %>

<% if user_is_student? %>
  <%= month_calendar do |date| %>
    <%= date.day %>
    <% @sheets.each do |sheet| %>
      <% if sheet.date == date %>
        <% if sheet.signed_in == true %>
          <%# <% if logged_in_user_admin? %>
            <!--<span class="delete-date">
              <%#= link_to ('<i class="fa fa-times-circle"></i>').html_safe, destroy_sheet_sheets_path(@user.id, date), method: :delete, data: {confirm: 'You are about to delete a date for a student. Are you sure you want to do that?'}%>
            </span>-->
          <%# end %>
          <div class="text-center">
            <% if logged_in_user_admin? || logged_in_user_supervisor? || (logged_in_user_student? && Date.today == date)%>
              <%= link_to "Done", unsign_in_student_sheets_path(@user.id, date: date), class: "btn btn-success btn-sm", method: :put, data: {confirm: 'You are about to unsign in. Are you sure you want to do that?'} %>
            <% else %>
              <%= link_to "Done", unsign_in_student_sheets_path(@user.id, date: date), class: "btn btn-success btn-sm disabled", method: :put, data: {confirm: 'You are about to unsign in. Are you sure you want to do that?'} %>
            <% end %>
          </div>
        <% else %>
          <%# if logged_in_user_admin? %>
            <!--<span class="delete-date">
              <span class="delete-date">
                <%#= link_to ('<i class="fa fa-times-circle"></i>').html_safe, destroy_sheet_sheets_path(@user.id, date), method: :delete, data: {confirm: 'You are about to delete a date for a student. Are you sure you want to do that?'}%>
              </span>
            </span>-->
          <%# end %>
          <div class="text-center">
            <% if logged_in_user_admin? || logged_in_user_supervisor? %>
              <% if Date.today == date %>
                <%= link_to "Sign In",  sign_in_student_sheets_path(@user.id, date: date), class: "btn btn-warning btn-sm", method: :put %>
              <% elsif Date.today > date %>
                <%= link_to "Missed",  sign_in_student_sheets_path(@user.id, date: date), class: "btn btn-danger btn-sm", method: :put %>
              <% else %>
                <%= link_to "Scheduled",  sign_in_student_sheets_path(@user.id, date: date), class: "btn btn-primary btn-sm", method: :put %>
              <% end %>
            <% end %>

            <% if logged_in_user_student? %>
              <% if Date.today == date %>
                <%= link_to "Sign In",  sign_in_student_sheets_path(@user.id, date: date), class: "btn btn-warning btn-sm", method: :put %>
              <% elsif Date.today > date %>
                <%= link_to "Missed",  sign_in_student_sheets_path(@user.id, date: date), class: "btn btn-danger btn-sm disabled", method: :put %>
              <% else %>
                <%= link_to "Scheduled",  sign_in_student_sheets_path(@user.id, date: date), class: "btn btn-primary btn-sm disabled", method: :put %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%# if @sheet_dates.exclude?(date) %>
      <% if logged_in_user_admin? && @user.template_id != nil %>
        <!--<span class="delete-date">
          <%#= link_to ('<i class="fa fa-plus-circle"></i>').html_safe, create_sheet_sheets_path(@user.id, @user.template_id, date), method: :post %>
        </span>-->
      <%# end %>
    <% end %>
  <% end %>
<% end %>
